spring:
  flyway:
    enabled: true

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  rabbitmq:
    host: ${RABBIT_HOST}
    port: ${RABBIT_PORT}
    username: ${RABBIT_USERNAME}
    password: ${RABBIT_PASSWORD}
    virtual-host: ${RABBIT_VHOST:/}
    dynamic: true
    publisher-confirm-type: correlated # publish 후 ack / nack 받기
    publisher-returns: true # 라우팅 실패 시 return callback
    template:
      mandatory: true # 큐 없으면 유실 말고 return
    listener:
      simple:
        acknowledge-mode: manual
        default-requeue-rejected: false
        auto-startup: true # outbox/consumer 로직 완성 전에는 자동 소비 방지

outbox:
  owner: ${POD_NAME:}

  poller:
    batch-size: 50
    fixed-delay-ms: 500

  retry:
    max-retries: 10
    delay-seconds: 60

  reaper:
    stale-after-seconds: 300
    batch-size: 100
    fixed-delay-ms: 5000

management:
  endpoints:
    web:
      exposure:
        include: health,info,beans
  endpoint:
    health:
      show-details: always

auth-error:
  source-service: ${spring.application.name}
  environment: local
  rabbit:
    retry:
      ttl10s: 2000
      ttl1m: 5000
      ttl10m: 10000
      fast-max: 2
      medium-max: 4
